global
    daemon
    maxconn 4096

defaults
    mode tcp
    timeout connect 5000
    timeout client 50000
    timeout server 50000

listen mysql_master
    bind *:6033
    mode tcp
    server master 192.168.20.20:3306

listen mysql_slave
    bind *:6032
    mode tcp
    server slave 192.168.20.40:3306
