# ==================== ENTORNO GENERAL ====================
TZ=America/Montevideo

# ==================== BASE DE DATOS ====================
DB_ROOT_PASSWORD=MasterDB_V3ltr0_2025!
DB_SLAVE_ROOT_PASSWORD=SlaveDB_V3ltr0_2025!
DB_APP_PASSWORD=V3ltr0App_2025!
DB_REPLICATION_PASSWORD=Replicator_V3ltr0_2025!
DB_EXPORTER_PASSWORD=Exp0rt3r_2025!
DB_BACKUP_PASSWORD=B4ckup_V3ltr0_2025!

MYSQL_VERSION=8.0
DB_MASTER_PORT=3316
DB_SLAVE_PORT=3307

# ==================== WEB SERVER ====================
WEB_HTTP_PORT=8081

# ==================== WAF ====================
WAF_HTTP_PORT=8088
WAF_HTTPS_PORT=4438
WAF_PARANOIA=2
WAF_ANOMALY_INBOUND=5
WAF_ANOMALY_OUTBOUND=4

# ==================== HAPROXY ====================
HAPROXY_VERSION=2.8
HAPROXY_MASTER_PORT=6033
HAPROXY_SLAVE_PORT=6032
HAPROXY_STATS_PORT=8404

# ==================== BACKUP ====================
FEDORA_VERSION=42
BACKUP_SSH_PORT=2022
BACKUP_MONITOR_PORT=9100
BACKUP_RETENTION_DAYS=30

# ==================== MONITORING ====================
PROMETHEUS_VERSION=latest
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=30d

GRAFANA_VERSION=latest
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=Gr4f4n4_V3ltr0_2025!

MYSQLD_EXPORTER_VERSION=latest
EXPORTER_MASTER_PORT=9104
EXPORTER_SLAVE_PORT=9105

# ==================== FILE SERVER ====================
FILESERVER_SSH_PORT=2222
ADMIN_PASSWORD=Admin_V3ltr0_2025!
DEV_PASSWORD=Dev_V3ltr0_2025!
TESTER_PASSWORD=Test_V3ltr0_2025!
